

.img-box .card {
  border: none;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.img-box .card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  );
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: 1;
}
.img-box .card:hover::before {
  opacity: 1;
}

.img-box .card:hover img {
  filter: brightness(1);
  transform: scale(1.1);
}

.img-box .img-box .card a {
  border: none;
}

.img-box .card img {
  transition: all 0.5s ease 0s;
  filter: brightness(0.8);
}

.img-box .card .card-title {
  position: absolute;
  top: 5%;
  left: 3%;
  font-size: 16px;
  color: var(--white);
  line-height: 150%;
  font-weight: bold;
  width: 100%;
  border-radius: 4px;
  max-width: 90px;
  z-index: 2;
  background-color: #513178;
  padding: 0px 5px 0px 13px;
  box-shadow: 0px 1px 4px #000000;
}

.main-title {
  font-size: 18px;
  color: black;
  font-weight: 700;
  font-weight: 600;
}
.img-box .card .tours {
  position: absolute;
  right: 5px;
  bottom: 10px;
  left: 5px;
  font-size: 16px;
  color: var(--primaryClr);
  line-height: 18px;
  font-weight: 600;
  padding: 15px 15px;
  background: var(--white);
  border-radius: 4px;
  transform: translateX(120%);
  transition: 0.2s ease-in;
  height: 200px;
  width: 100%;
  overflow: hidden;
  max-width: 260px;
  z-index: 2;
}

section.tours_section.slick_slider{
  padding: 50px 0px 50px 0px;
}
.img-box .card:hover {
  transition: 0.2 ease-in;
}

.img-box .card:hover img {
  filter: brightness(1);
  transform: scale(1.1);
}

.img-box .card:hover .tours {
  transform: translateX(0);
}

.tag {
  background-color: rgba(82, 82, 82, 0.164);
  padding: 2px;
  color: rgb(61, 61, 61);
  border-radius: 4px;
  font-size: 13px;
}
.d-flex.gap-3.mt-1 {
  font-size: 12px;
  color: rgb(114, 114, 114);
}
.popular {
  padding: 5px;
  border: none;
  transition: all 0.5s ease 0s;
  overflow: hidden;
}

.popular:hover {
  transform: translateY(-10px);
  transition: 0.2s ease-in;
}
.mt-2 {
  font-size: 14px;
}
.aed {
  color: black;
  font-weight: 700;
}

.popular:hover .card-title {
  color: var(--primaryClr);
}

.popular img {
  transition: all 0.5s ease 0s;
}

.popular:hover img {
  transform: scale(1.1);
}

.popular .card-body .badge {
  border-radius: 4px;
  margin-right: 8px;
  font-size: 14px;
}

.popular .card-body .River {
  background-color: #ffebf5 !important;
  color: #cf3881 !important;
}

.popular .card-body .Wildlife {
  background-color: #4ba7fc !important;
  color: #e6f7f4 !important;
}

.popular .card-body .Escorted {
  background-color: #e8edf1 !important;
  color: #4f5e71 !important;
}

.popular .card-body .Rail {
  background-color: #fc961b !important;
  color: #ffffff !important;
}

.popular .card-body .Tour {
  background-color: #6088c4 !important;
  color: #ffffff !important;
}

.popular .card-body .card-title {
  font-size: var(--bodyText);
  font-weight: bold;
  transition: all 0.5s ease 0s;
  margin-bottom: 10px;
}

.popular .card-body .card-text {
  font-size: 13px;
  padding: 10px 0px;
  line-height: 1.3em;
  position: relative;
  color: #4f5e71;
}

.popular .card-body .card-text i {
  position: absolute;
  top: 15px;
}

.popular .card-body .text {
  margin-left: 16px;
  display: block;
  font-size: 13px;
}

.popular .card-body .reviwe {
  margin-bottom: 12px;
}
.popular .card-body .reviwe i {
  color: var(--primaryClr);
}

.popular .card-footer {
  background: none;
}

.popular .card-footer p {
  font-size: var(--bodyText);
  color: #4f5e71;
}

.popular .card-footer p strong {
  font-size: var(--bodyText);
  color: black;
  font-weight: bold;
}
.card-tags {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 13px;
  list-style-type: disc;
}




.featureimage{


  height: 390px;
}


.badge{
  color: white;
  background-color: var(--primaryClr);
}

.investment-img{
  height: 300px;
}

.gallery-slider-image{
  height:700px;
}

@media screen and (max-width: 500px) {
  .img-box .card .tours{
    left: 18px;
    
    max-width: 320px;
  }

}

@media screen and (max-width: 400px) {
  .img-box .card .tours{
    left: 10px;
    
    max-width: 300px;
  }

}